
.signup-container {
  margin-top: 240px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
}

.create-account-text {
  font-family: 'Roboto';
  font-size: 42px;
  font-weight: 700;
  color: #595757;
  text-align: center;
  margin-bottom: 35px;
}

.choose-account-text {
  display: block;
  font-size: 22px;
  font-weight: 300;
  margin-top: 7px;
}

.choose-account-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

button {
  margin-left: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  float: left;
}

.personnel-image {
  width: 170px;
  height: auto;
}

.patient-image {
  width: 180px;
  height: auto;
}

.signin-text-container, .signin-link-text {
  align-self: center;
  color: #595757;
}

.signin-link-text {
  font-family: 'Roboto';
  font-weight: 600;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  background: rgba(255, 248, 220, 0.95);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 700px;
  height: 650px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  color: #D4AF37;
  font-size: 24px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  border: 1px solid #D4AF37;
  border-radius: 5px;
}

.first-input-row {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}

.address-input {
  width: 49%;
  margin-bottom: 15px;
  margin-right: 2%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.occupation-input {
  width: 49%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.contact-number-input {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.civil-status-input {
  width: 49%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.dob-label {
  display: block;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 3px;
  font-weight: bold;
}

.dob-input {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.age-input {
  width: 49%;
}

.login-credentials-text h2{
  margin-bottom: 0;
}

.signup-email-input {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.signup-password-input {
  width: 49%;
  margin-right: 2%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.signup-confirm-password-input {
  width: 49%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #D4AF37;
}

.submit-btn {
  background: #D4AF37;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
